*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06283D;
    flex-direction: column; /* Stack elements vertically */
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    position: fixed;  /* Fixes the nav at the top */
    top: 0;  /* Aligns it to the top of the screen */
    left: 0;  /* Aligns it to the left */
    width: 100%;  /* Ensures it spans the full width of the screen */
    z-index: 1000;  /* Keeps the topnav above other elements */
    display: flex;  /* Enable Flexbox */
    justify-content: center;  /* Centers the links horizontally */
    align-items: center;  /* Centers the links vertically (if height is defined) */
    height: 50px;  /* Set height for the navigation bar */
    font-family: 'Roboto', sans-serif;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background: #5296b2;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.weatherBar {
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
    border-radius: 50%;
  }

  .topnav a.homeBar {
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
    border-radius: 50%;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /*the topnav to adapt to smaller screens*/
  @media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        display: block;
        text-align: left;
    }
}

.clock {
    color: white;
    font-size: 7rem;
    letter-spacing: 5px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;  
    margin-top: 50px;
    background-color: #333;
    }

.container{
    position: relative;
    width: 400px;
    height: 105px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: #fff;
    background: #06283D;
}

.search-box i{
    position: absolute;
    color: #06283D;
    font-size: 28px;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 60%;
    margin-top: 30px;
}

.weather-box .temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.error-message{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.error-message img{
    width: 70%;
}

.error-message p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}